SECRET_KEY='*********************************************'
ALLOWED_HOSTS=127.0.0.1, .localhost
DEBUG=True
DB_NAME=book_store
DB_USER=kishore_kumar
DB_PASSWORD=user_password
DB_HOST=localhost
DB_PORT=5432