{% extends "rest_framework/base.html" %}

{% block title %} Book Store {% endblock %}

{% block branding %}

    <span>
        <a href="", rel="nofollow" class="navbar-brand">
            Welcome to Book Store
            <span class="version">1</span>
        </a>
    </span>

{% endblock %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@3.4.1/flatly/bootstrap.min.css" type="text/css">
{% endblock %}

{% block navbar-inverse %}{% endblock %}